.reserverbook {
  font-weight: bolder;
}
.my_form {
  width: 100%;
  min-height: 65vh;
  background: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.my_form_child {
  width: 50%;
  height: 100%;
  background: grey;
}
.bookImg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
.slideDeux {
  background: rgb(3, 150, 199);
}
.slideTrois {
  background: rgb(147, 22, 22);
}
