* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Martel Sans", sans-serif;
  color: #0c0702;
}
body a {
  text-decoration: none;
  transition: all 0.2s;
}
body a:hover {
  color: hsl(51, 99%, 54%);
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.255), rgba(0, 0, 0, 0.801)), url(../img/1111_1.webp);
  background-size: cover;
  background-attachment: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  padding-bottom: 2rem;
}
@media (max-width: 768px) {
  .container {
    gap: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.072), rgba(0, 0, 0, 0.801)), url(../img/gbsmoll.webp);
    background-size: cover;
    background-attachment: center center;
  }
}
.container header {
  width: 100vw;
  height: 80px;
  padding: 5px 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(21, 18, 2, 0.2666666667);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}
@media (max-width: 768px) {
  .container header {
    align-items: start;
    justify-content: center;
    padding: 0px;
  }
}
.container header .logo {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container header .logo img {
  width: 100%;
}
@media (max-width: 768px) {
  .container header .logo {
    width: 70%;
  }
  .container header .logo img {
    width: 50%;
  }
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
.socialMedia a {
  text-decoration: none;
  color: rgb(253, 253, 253);
  font-size: 165%;
}
@media (max-width: 768px) {
  .socialMedia {
    display: none;
  }
}

.nev_container {
  max-width: 1024px;
}
@media (max-width: 768px) {
  .nev_container {
    width: 100%;
  }
}
.nev_container .headerCommon {
  padding: 0px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(../GIF/largeGifUpdetted.gif);
  background-size: cover;
}
@media (max-width: 1025px) {
  .nev_container .headerCommon {
    width: 100%;
    background: url(../GIF/largeGifUpdetted.gif);
    background-size: cover;
  }
}
@media (max-width: 487px) {
  .nev_container .headerCommon {
    width: 100%;
    background: url(../GIF/smscreen.gif);
    background-size: cover;
  }
}
.nev_container .welcomeHeader {
  position: sticky;
  top: 0%;
  width: 100%;
  z-index: 2000;
  width: 1024px;
  height: 45px;
  background: #f3f4f6;
  padding-right: 20rem;
}
@media (max-width: 1024px) {
  .nev_container .welcomeHeader {
    position: sticky;
    top: 0%;
    width: 100%;
    padding: 0px;
    z-index: 2000;
  }
  .nev_container .welcomeHeader .nav_childenInTheSecHeader {
    width: 100%;
  }
}
.nev_container .hautKatanga {
  color: white;
}
.nev_container h2 {
  font-size: 100%;
}
.nev_container footer {
  width: 1024px;
  height: 70px;
  background: #f2f6f9;
  position: absolute;
  bottom: 0%;
}
@media (max-width: 768px) {
  .nev_container footer {
    width: 100vw;
    background: url(../GIF/smscreen.gif);
    background-size: cover;
  }
}

.nav_childenInTheSecHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.nav_childenInTheSecHeader a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 110%;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.acceil a {
  color: hsl(51, 99%, 54%);
}
@media (max-width: 768px) {
  .acceil a {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav_containinMiddle_element {
  width: 100%;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 768px) {
  .nav_containinMiddle_element {
    padding-bottom: 3rem;
  }
}
.nav_containinMiddle_element .bienVenu {
  font-family: "Martel Sans", sans-serif;
  color: white;
  font-size: 200%;
}
@media (max-width: 768px) {
  .nav_containinMiddle_element .bienVenu {
    padding: 0rem 1rem;
  }
}

.homeIndex {
  font-weight: bolder;
  color: rgb(35, 141, 176);
}

.underWelcome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media (max-width: 768px) {
  .underWelcome {
    width: 100vw;
  }
  .underWelcome h3 {
    font-size: 110%;
  }
}
.underWelcome h3 {
  color: white;
}
.underWelcome .img_underWelcome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.underWelcome .img_underWelcome img {
  width: 70%;
}
@media (max-width: 768px) {
  .underWelcome .img_underWelcome img {
    display: none;
  }
}

.socialMedia_HIDDEN {
  display: none;
}
@media (max-width: 768px) {
  .socialMedia_HIDDEN {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 30px;
    padding: 40px;
    background: #0c0702;
    position: fixed;
    bottom: 0%;
    left: 0%;
    justify-content: space-around;
    z-index: 3000;
  }
  .socialMedia_HIDDEN a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 200%;
  }
}
@media (max-width: 260px) {
  .socialMedia_HIDDEN {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 20px;
    padding: 20px;
    background: #0c0702;
    position: fixed;
    bottom: 0%;
    left: 0%;
    justify-content: space-around;
  }
  .socialMedia_HIDDEN a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 120%;
  }
}

@media (max-width: 768px) {
  .footeroo {
    display: none;
  }
}

.booknown {
  background: hsl(51, 99%, 54%);
  right: 0%;
}
.booknown a {
  color: rgb(0, 0, 0);
}
@media (max-width: 768px) {
  .booknown {
    position: none;
  }
}

.alubumbashi {
  color: #f2f6f9;
}

.body_about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .body_about h1 {
    margin: 0px;
  }
}
.body_about .aboutUsHeaderCommun .nav_childenInTheSecHeader a {
  transition: all 0.2s;
}
.body_about .aboutUsHeaderCommun .nav_childenInTheSecHeader a:hover {
  color: rgb(35, 141, 176);
}

.aboutUsHref {
  color: white;
  font-weight: bolder;
}

.about_Us_container {
  background: rgb(236, 236, 236);
  min-height: 100vh;
}

.aboutUsHeaderCommun {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
@media (max-width: 768px) {
  .aboutUsHeaderCommun .acceil_lg_block {
    display: none;
  }
}
.aboutUsHeaderCommun .acceil_lg_none {
  display: none;
}
@media (max-width: 768px) {
  .aboutUsHeaderCommun .acceil_lg_none {
    display: flex;
  }
  .aboutUsHeaderCommun .acceil_lg_none a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.line {
  width: 100%;
  height: 20px;
}
.line img {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 480px) {
  .line img {
    width: 60%;
  }
}

.welcom_aboutUs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.welcom_aboutUs h1 {
  font-size: 150%;
}
@media (max-width: 480px) {
  .welcom_aboutUs {
    padding: 0px;
    gap: 15pxpx;
  }
}

.containe_element_about {
  padding-top: 2rem;
  gap: 2rem;
}
@media (max-width: 480px) {
  .containe_element_about {
    padding: 0px;
    padding: 3rem 2rem;
  }
}

.bioAbout {
  width: 100%;
  padding: 0rem 7rem;
  font-size: 100%;
}
@media (max-width: 480px) {
  .bioAbout {
    padding: 0rem 0rem;
  }
}

.about_Image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.about_Image .imgGaleriesAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3%;
}
.about_Image .imgGaleriesAbout img {
  width: 95%;
  border-radius: 10px;
  transition: all 0.4s;
  cursor: pointer;
}
.about_Image .imgGaleriesAbout img:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
}

.seeallabout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seeallabout p {
  padding: 10px 20px;
  font-size: 120%;
  font-weight: bolder;
  background: rgb(35, 141, 176);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: aliceblue;
  transition: all 0.1s;
  cursor: pointer;
}
@media (max-width: 480px) {
  .seeallabout p {
    padding: 10px 20px;
    font-size: 100%;
  }
}
.seeallabout p:hover {
  background: hsl(51, 99%, 54%);
  color: rgb(35, 141, 176);
}

@media (max-width: 480px) {
  .drowdown0 {
    display: none;
  }
}

.booknown {
  background: hsl(51, 99%, 54%);
  height: 100%;
  width: 25%;
  position: absolute;
  right: 0%;
}
.booknown a {
  color: rgb(0, 0, 0);
}
@media (max-width: 768px) {
  .booknown {
    display: none;
  }
}

.secondePageabout {
  background: #000000;
  color: white;
}

.img_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 10px;
}

.autoFit {
  width: 100%;
  position: relative;
  padding: 5px auto;
  margin-left: 6rem;
}
.autoFit img {
  width: 80%;
  border-radius: 10px;
}
@media (max-width: 687px) {
  .autoFit img {
    width: 100%;
  }
}
@media (max-width: 687px) {
  .autoFit {
    width: 100%;
    margin-left: 0rem;
  }
}
@media (max-width: 687px) and (max-width: 260px) {
  .autoFit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .autoFit img {
    width: 100%;
    border-radius: 10px;
  }
}

.dropdown {
  width: 50%;
  height: 100%;
  position: relative;
  display: none;
}
@media (max-width: 478px) {
  .dropdown {
    background: hsl(51, 99%, 54%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.4s;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    bottom: -497%;
    left: -25%;
    opacity: 100%;
  }
  .dropdown i {
    font-size: 190%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dropbtn {
  width: 70%;
  background-color: rgba(16, 6, 33, 0.1019607843);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: rgb(23, 23, 23);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  position: absolute;
  bottom: -300%;
  left: -30%;
  opacity: 0%;
}
@media (max-width: 486px) {
  .dropdown-content {
    bottom: -300%;
    left: -180%;
  }
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  gap: 9px;
}

.select {
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.select option {
  display: flex;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.body_about .thirdpage {
  background: rgb(236, 236, 236);
  color: black;
}

.bookImage {
  width: 150px;
  padding: 7px 20px;
  background: hsl(51, 99%, 54%);
  font-size: 120%;
  font-weight: bolder;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
}
.bookImage a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: black;
}
@media (max-width: 768px) {
  .bookImage {
    position: absolute;
    bottom: 1.5%;
  }
  .bookImage a {
    font-size: 100%;
  }
}

.footerThanks {
  bottom: 100%;
}

.reserverbook {
  font-weight: bolder;
}

.my_form {
  width: 100%;
  min-height: 65vh;
  background: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.my_form_child {
  width: 50%;
  height: 100%;
  background: grey;
}

.bookImg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.bookImg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.slideDeux {
  background: rgb(3, 150, 199);
}

.slideTrois {
  background: rgb(147, 22, 22);
}

.form_container {
  background: url(../fomrBg/gbLargScreen.webp);
  background-size: cover;
}

.bookingContainer {
  width: 100%;
  background: rgb(245, 245, 245);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  min-height: 80vh;
  gap: 0px;
  margin: 1px auto;
  margin-top: 0px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.booking_nav_children_right {
  width: 100%;
  height: 100%;
  background: lightblue;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .booking_nav_children_right {
    width: 100%;
    margin-bottom: 3rem;
    padding: 1rem;
  }
}

form {
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #007bff;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #6c757d;
}

.inputT {
  font-size: 100%;
}

.inputTt {
  font-size: 120%;
}

input[type=text],
input[type=email],
input[type=date],
input[type=number],
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease-in-out;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=number]:focus,
textarea:focus {
  border-color: #80bdff;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btniNPUT {
  background-color: #007bff;
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.success-message {
  color: green;
  margin-top: 5px;
}

.thank_container {
  background: hsl(51, 99%, 54%);
  width: 100%;
  padding: 0;
}
@media (max-width: 487px) {
  .thank_container {
    gap: 1rem;
    height: 100%;
    padding-top: 6rem;
    justify-content: start;
  }
}

.thanksH {
  color: rgba(9, 9, 0, 0.893);
}

.merci {
  color: rgb(35, 141, 176);
  font-size: 160%;
}

.emailImage {
  flex-basis: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.emailImage img {
  width: 20%;
}

.thanksBtn {
  text-decoration: none;
  color: white;
  padding: 1% 2%;
  background: rgb(35, 141, 176);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.726) 0px 13px 27px -5px, rgba(255, 255, 255, 0.566) 0px 8px 16px -8px;
}

@media (max-width: 487px) {
  .form_container {
    height: 50%;
  }
  .form_container footer {
    margin-bottom: 4rem;
  }
}

.serviceClients {
  position: absolute;
  top: 0%;
}

.bookingContainerWelcom {
  padding: 0px;
}

.serviceClient {
  font-size: 90%;
  font-weight: bolder;
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  color: rgba(0, 0, 0, 0.205);
}

.swiper-button-prev {
  color: rgba(0, 0, 0, 0.205);
}

.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.692);
}

.bookings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
  padding: 5rem;
  background: hsl(51, 99%, 54%);
}
.bookings a {
  text-decoration: none;
  color: white;
}
.bookings a h2 {
  background: black;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: 120%;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.containerjb {
  margin: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(51, 99%, 54%);
}
@media (max-width: 786px) {
  .containerjb {
    width: 100vw;
    padding: 2rem;
    margin-bottom: 4rem;
  }
}

.bodycont {
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}
@media (max-width: 487px) {
  .bodycont {
    width: 100vw;
    height: 100vh;
  }
}

.containercont {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 487px) {
  .containercont {
    width: 90vw;
    height: 90vh;
  }
}
@media (max-width: 487px) {
  .containercont p {
    margin-bottom: 40px;
  }
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 487px) {
  h1 {
    margin-bottom: 40px;
  }
}

.contact-info {
  margin-bottom: 20px;
}
@media (max-width: 487px) {
  .contact-info {
    margin-bottom: 30px;
  }
  .contact-info ul li,
  .contact-info p li {
    font-size: 120%;
  }
}

.contact-info p {
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 5px;
}

.map {
  text-align: center;
}

@media (max-width: 487px) {
  li {
    margin-bottom: 45px;
  }
}

.map img {
  max-width: 60%;
  height: auto;
  border-radius: 5px;
}
@media (max-width: 780px) {
  .map img {
    max-width: 100%;
  }
}

.maito {
  text-decoration: none;
  color: black;
}

/* Reset styles */
html,
body,
ul,
li,
h1,
h2,
h3,
p,
form,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
.service-body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.service-header {
  background-color: #f2f2f2;
  padding: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 40px;
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.rooms {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.room {
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .room {
    width: 100%;
  }
}

.room img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.room h3 {
  margin-top: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.description {
  margin-bottom: 10px;
}

.facilities {
  margin-bottom: 40px;
}

.facilities ul {
  list-style-type: disc;
  margin-left: 20px;
}

.contact {
  margin-bottom: 40px;
}

.contact input,
.contact textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

main {
  margin-top: 4rem;
}
@media (max-width: 478px) {
  main {
    margin-bottom: 1rem;
  }
}

.serviceHeader {
  width: 100vw;
  padding: 1rem 3rem;
  position: fixed;
  top: 0%;
  color: rgb(249, 242, 242);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.serviceHeader .logo {
  width: 120px;
}
@media (max-width: 487px) {
  .serviceHeader .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.serviceHeader .logo img {
  width: 50%;
}/*# sourceMappingURL=style.css.map */