.bodycont {
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  @media (max-width: 487px) {
    width: 100vw;
    height: 100vh;
  }
}

.containercont {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  @media (max-width: 487px) {
    width: 90vw;
    height: 90vh;
  }
  p {
    @media (max-width: 487px) {
      margin-bottom: 40px;
    }
  }
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  @media (max-width: 487px) {
    margin-bottom: 40px;
  }
}

.contact-info {
  margin-bottom: 20px;
  @media (max-width: 487px) {
    margin-bottom: 30px;
    ul,
    p {
      li {
        font-size: 120%;
      }
    }
  }
}

.contact-info p {
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 5px;
}

.map {
  text-align: center;
}
li {
  @media (max-width: 487px) {
    margin-bottom: 45px;
  }
}
.map img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
