.dropdown {
  width: 50%;
  height: 100%;
  position: relative;
  display: none;

  @media (max-width: 478px) {
    background: $yello;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.4s;

    &:hover {
      .dropdown-content {
        display: block;
        bottom: -500%;
        left: -50%;
        opacity: 100%;
      }
    }
    i {
      font-size: 190%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.dropbtn {
  width: 70%;
  background-color: #1006211a;
  backdrop-filter: blur(20px);
  color: rgb(23, 23, 23);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  position: absolute;
  bottom: -300%;
  left: -30%;
  opacity: 0%;
  @media (max-width: 486px) {
    bottom: -300%;
    left: -180%;
  }
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  gap: 9px;
}
.select {
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  option {
    display: flex;
  }
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
