.secondePageabout {
  background: #000000;
  color: white;
}
.img_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 10px;
}
.autoFit {
  position: relative;
  img {
    width: 100%;
    border-radius: 10px;
  }
  @media (max-width: 260px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 70%;
      border-radius: 10px;
    }
  }
}
