* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$yello: hsl(51, 99%, 54%);
$blue: rgb(35, 141, 176);
$primary-color: #007bff;
$secondary-color: #6c757d;
$input-border-color: #ced4da;
$input-focus-color: #80bdff;
